$primary: #34558b;
$primary-hover: #213f70;
$primary-light: #4e72ad;

$info: #a7c6db;
$info-light: #dcecf6;
$info-hover: #7693a7;

$success: #2a485c;
$success-hover: #152e3f;
$success-light: #4b6d83;
